@font-face {
  font-family: hackerFont;
  src: url(ProFont.ttf);
}

body {
  background-color: black;
  color: lawngreen;
  font-family: hackerFont;
}

form {
  width: 40%;
  display: inline-block;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  color: greenyellow;
  top: 10px;
  height: 30px;
  width: 30px;
  margin-right: 7px;
  border: 1px dashed;
}

input:checked::before {
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 35%;
  top: 28%;
  content: 'X';
}

input:focus {
  /*outline-color: greenyellow;*/
  outline: none;
}

fieldset {
  border-color: greenyellow;
}

.cursor {
  font-size: 100%;
  /*transform: scaleX(0.5);*/
  font-weight: lighter;
  animation-name: blink;
  animation-duration: 900ms;
  animation-iteration-count: infinite;
}

@keyframes blink {
  /*from { opacity: 1; }
  to { opacity: 0; }*/
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
}