@font-face {
  font-family: hackerFont;
  src: url(ProFont.ttf);
}

#testes {
  width: 728px;
  height: 102px;
  background-color: blue;
}

#adDiv {
  /* background-color: aqua; */
  float: right;
}

body {
  background-color: black;
  color: lawngreen;
  font-family: hackerFont;
  overflow-y: hidden;
  touch-action: manipulation;
}

#header{
  padding-bottom: 10px;
}

#settings {
  padding-bottom: 10px;
}

#mainWindowContainer {
  overflow-y: scroll;
}

#toBegin {
  margin-top: 0px;
}

form {
  width: 40%;
  display: inline-block;
}

#mainWindowContainer {
  overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-moz-scrollbar {
  width: 0px;
  background: transparent;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  color: greenyellow;
  top: 10px;
  height: 30px;
  width: 30px;
  margin-right: 7px;
  border: 1px dashed;
}

input:checked::before {
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 35%;
  top: 28%;
  content: 'X';
}

input:focus {
  outline: none;
}

fieldset {
  border-color: greenyellow;
}

.cursor {
  font-size: 100%;
  font-weight: lighter;
  animation-name: blink;
  animation-duration: 900ms;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
}